<?xml version="1.0"?>
<!--
 * Cryozonic
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Single Domain License
 * that is available through the world-wide-web at this URL:
 * http://cryozonic.com/licenses/stripe.html
 * If you are unable to obtain it through the world-wide-web,
 * please send an email to info@cryozonic.com so we can send
 * you a copy immediately.
 *
 * @category   Cryozonic
 * @package    Cryozonic_StripeSubscriptions
 * @copyright  Copyright (c) Cryozonic Ltd (http://cryozonic.com)
 * -->
<config>
  <modules>
    <Cryozonic_StripeSubscriptions>
      <version>1.8.0</version>
    </Cryozonic_StripeSubscriptions>
  </modules>
  <global>
    <models>
      <sales>
        <rewrite>
          <recurring_profile>Cryozonic_StripeSubscriptions_Model_Recurring_Profile</recurring_profile>
          <quote>Cryozonic_StripeSubscriptions_Model_Quote</quote>
        </rewrite>
      </sales>
      <tax>
        <rewrite>
          <sales_total_quote_nominal_subtotal>Cryozonic_StripeSubscriptions_Model_Tax_Sales_Total_Quote_Nominal_Subtotal</sales_total_quote_nominal_subtotal>
          <sales_total_quote_nominal_tax>Cryozonic_StripeSubscriptions_Model_Tax_Sales_Total_Quote_Nominal_Tax</sales_total_quote_nominal_tax>
        </rewrite>
      </tax>
      <bundle_resource>
        <rewrite>
          <option_collection>Cryozonic_StripeSubscriptions_Model_Resource_Option_Collection</option_collection>
        </rewrite>
      </bundle_resource>
      <bundle>
        <rewrite>
          <product_type>Cryozonic_StripeSubscriptions_Model_Bundle_Product_Type</product_type>
        </rewrite>
      </bundle>
      <catalog>
        <rewrite>
          <product_type_configurable>Cryozonic_StripeSubscriptions_Model_Product_Type_Configurable</product_type_configurable>
        </rewrite>
      </catalog>
      <cryozonic_stripesubscriptions>
        <class>Cryozonic_StripeSubscriptions_Model</class>
      </cryozonic_stripesubscriptions>
      <cryozonic_stripe>
        <rewrite>
          <standard>Cryozonic_StripeSubscriptions_Model_Subscriptions</standard>
        </rewrite>
      </cryozonic_stripe>
      <adminhtml>
        <rewrite>
          <sales_order_create>Cryozonic_StripeSubscriptions_Model_Adminhtml_Sales_Order_Create</sales_order_create>
        </rewrite>
      </adminhtml>
      <payment>
        <rewrite>
          <observer>Cryozonic_StripeSubscriptions_Model_Payment_Observer</observer>
        </rewrite>
      </payment>
    </models>
    <blocks>
      <cryozonic_stripesubscriptions>
        <class>Cryozonic_StripeSubscriptions_Block</class>
      </cryozonic_stripesubscriptions>
      <tax>
        <rewrite>
          <checkout_grandtotal>Cryozonic_StripeSubscriptions_Block_Checkout_Grandtotal</checkout_grandtotal>
          <checkout_subtotal>Cryozonic_StripeSubscriptions_Block_Checkout_Subtotal</checkout_subtotal>
          <checkout_shipping>Cryozonic_StripeSubscriptions_Block_Checkout_Shipping</checkout_shipping>
        </rewrite>
      </tax>
      <checkout>
        <rewrite>
          <total_nominal>Cryozonic_StripeSubscriptions_Block_Checkout_Total_Nominal</total_nominal>
        </rewrite>
      </checkout>
      <sales>
        <rewrite>
          <order_email_items_order_default>Cryozonic_StripeSubscriptions_Block_Order_Email_Items_Order_Default</order_email_items_order_default>
          <order_totals>Cryozonic_StripeSubscriptions_Block_Order_Totals</order_totals>
          <order_invoice_totals>Cryozonic_StripeSubscriptions_Block_Order_Invoice_Totals</order_invoice_totals>
        </rewrite>
      </sales>
      <catalog>
        <rewrite>
          <product_view_type_configurable>Cryozonic_StripeSubscriptions_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
        </rewrite>
      </catalog>
      <adminhtml>
        <rewrite>
          <sales_order_totals>Cryozonic_StripeSubscriptions_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
          <sales_order_invoice_totals>Cryozonic_StripeSubscriptions_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
          <sales_items_column_name>Cryozonic_StripeSubscriptions_Block_Adminhtml_Sales_Items_Column_Name</sales_items_column_name>
        </rewrite>
      </adminhtml>
    </blocks>
    <helpers>
      <cryozonic_stripesubscriptions>
        <class>Cryozonic_StripeSubscriptions_Helper</class>
      </cryozonic_stripesubscriptions>
    </helpers>
    <resources>
      <cryozonic_stripesubscriptions_setup>
        <setup>
          <module>Cryozonic_StripeSubscriptions</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </cryozonic_stripesubscriptions_setup>
      <cryozonic_stripesubscriptions_write>
        <connection>
          <use>core_write</use>
        </connection>
      </cryozonic_stripesubscriptions_write>
      <cryozonic_stripesubscriptions_read>
        <connection>
          <use>core_read</use>
        </connection>
      </cryozonic_stripesubscriptions_read>
    </resources>
    <events>
      <checkout_cart_add_product_complete>
        <observers>
          <unbundler>
            <type>singleton</type>
            <class>cryozonic_stripesubscriptions/observer</class>
            <method>unbundler</method>
          </unbundler>
        </observers>
      </checkout_cart_add_product_complete>
      <sales_order_place_after>
        <observers>
          <sales_order_place_after>
            <type>singleton</type>
            <class>cryozonic_stripesubscriptions/observer</class>
            <method>sales_order_place_after</method>
          </sales_order_place_after>
        </observers>
      </sales_order_place_after>

      <!-- Webhooks -->
      <cryozonic_stripe_webhook_invoice_payment_succeeded>
        <observers>
          <cryozonic_stripe_webhook_invoice_payment_succeeded>
            <type>singleton</type>
            <class>cryozonic_stripesubscriptions/webhooks_observer</class>
            <method>cryozonic_stripe_webhook_invoice_payment_succeeded</method>
          </cryozonic_stripe_webhook_invoice_payment_succeeded>
        </observers>
      </cryozonic_stripe_webhook_invoice_payment_succeeded>
      <cryozonic_stripe_webhook_invoice_payment_failed>
        <observers>
          <cryozonic_stripe_webhook_invoice_payment_failed>
            <type>singleton</type>
            <class>cryozonic_stripesubscriptions/webhooks_observer</class>
            <method>cryozonic_stripe_webhook_invoice_payment_failed</method>
          </cryozonic_stripe_webhook_invoice_payment_failed>
        </observers>
      </cryozonic_stripe_webhook_invoice_payment_failed>
      <cryozonic_stripe_webhook_customer_subscription_deleted>
        <observers>
          <cryozonic_stripe_webhook_customer_subscription_deleted>
            <type>singleton</type>
            <class>cryozonic_stripesubscriptions/webhooks_observer</class>
            <method>cryozonic_stripe_webhook_customer_subscription_deleted</method>
          </cryozonic_stripe_webhook_customer_subscription_deleted>
        </observers>
      </cryozonic_stripe_webhook_customer_subscription_deleted>

    </events>
  </global>
  <default>
    <payment>
      <cryozonic_stripe>
        <model>cryozonic_stripesubscriptions/subscriptions</model>
      </cryozonic_stripe>
      <cryozonic_stripesubscriptions>
        <active>1</active>
        <scgroup>none</scgroup>
        <fix_grand_total>1</fix_grand_total>
      </cryozonic_stripesubscriptions>
    </payment>
  </default>
  <frontend>
    <layout>
      <updates>
        <cryozonic_stripesubscriptions>
          <file>cryozonic_stripesubscriptions.xml</file>
        </cryozonic_stripesubscriptions>
      </updates>
    </layout>
    <translate>
      <modules>
        <Cryozonic_StripeSubscriptions>
          <files>
            <default>Cryozonic_StripeSubscriptions.csv</default>
          </files>
        </Cryozonic_StripeSubscriptions>
      </modules>
    </translate>
    <routers>
      <cryozonic_stripesubscriptions>
        <use>standard</use>
        <args>
            <module>Cryozonic_StripeSubscriptions</module>
            <frontName>cryozonic_stripesubscriptions</frontName>
        </args>
      </cryozonic_stripesubscriptions>
    </routers>
  </frontend>
  <adminhtml>
    <translate>
      <modules>
        <Cryozonic_StripeSubscriptions>
          <files>
            <default>Cryozonic_StripeSubscriptions.csv</default>
          </files>
        </Cryozonic_StripeSubscriptions>
      </modules>
    </translate>
    <layout>
      <updates>
        <cryozonic_stripesubscriptions_adminhtml>
          <file>cryozonic_stripesubscriptions/adminhtml.xml</file>
        </cryozonic_stripesubscriptions_adminhtml>
      </updates>
    </layout>
  </adminhtml>
</config>
