<?xml version="1.0"?>
<config>
  <modules>
    <Dam_Custom>
      <version>0.1.0</version>
    </Dam_Custom>
  </modules>
  <frontend>
    <routers>
      <custom>
        <use>standard</use>
          <args>
            <module>Dam_Custom</module>
            <frontName>custom</frontName>
          </args>
      </custom>
    </routers>
		<layout>
		  <updates>
			<custom>
			  <file>custom.xml</file>
			</custom>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <custom>
        <class>Dam_Custom_Helper</class>
      </custom>
    </helpers>
	<blocks>
	  <custom>
		<class>Dam_Custom_Block</class>
	  </custom>
	</blocks>
  </global>
</config> 